* {
    font-family: 'poppins-light';
}
.label {
    font-family: 'poppins-bold' !important;
}
.mat-dialog-title {
    height: 10vh !important;
    border-bottom: 1px solid #999;
}
.mat-mdc-dialog-content {
    max-height: 75vh !important;
    height: 75vh !important;
    border-bottom: 1px solid #999;
}
mat-dialog-actions {
    height: 10vh !important;
    //border-bottom: 1px solid #999;
}
.boxImage {
    height: 100vh !important; 
    overflow: auto !important; 
    display: flex !important;
}
