<div *ngIf="this.arr[0].state === 'inclusao' || this.arr[0].state === 'edit' ">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 mat-dialog-title class="mat-dialog-title" 
            [innerHTML]="this.arr[0].state === 'inclusao' ? 'Cadastro' : 'Alteração'"></h1>
        <mat-dialog-content>
            <div class="row">
                <!-- id -->
                <div class="col-4 py-2">
                    <label for="id" class="label">ID:</label>
                    <input id="id" class="form-control" formControlName="_id" readonly />
                </div>
                <!-- titulo -->
                <div class="col-4 py-2">
                    <label for="titulo" class="label">Titulo:</label>
                    <input id="titulo" class="form-control" formControlName="titulo"   />
                    <div *ngIf="form.get('titulo')?.invalid && form.get('titulo')?.touched">
                        <small *ngIf="form.get('titulo')?.errors?.['required']">Título obrigatório.</small>
                        <small *ngIf="form.get('titulo')?.errors?.['minlength']">O titulo deve ter pelo menos 3 caracteres.</small>
                    </div>
                </div>
                <!--Descricao-->
                <div class="col-4 py-2">
                    <label for="descricao" class="label">Descricao:</label>
                    <input id="descricao" class="form-control" formControlName="descricao" />
                    <div *ngIf="form.get('descricao')?.invalid && form.get('descricao')?.touched">
                        <small *ngIf="form.get('descricao')?.errors?.['required']">Descrição obrigatório.</small>
                        <small *ngIf="form.get('descricao')?.errors?.['minlength']">A Descrição deve ter pelo menos 3 caracteres.</small>
                    </div>
                </div>
                <!--Categoria-->
                <div class="col-4 py-2">
                    <label for="categoria" class="label">Categoria:</label>
                    <input id="categoria" class="form-control" formControlName="categoria" />
                    <div *ngIf="form.get('categoria')?.invalid && form.get('categoria')?.touched">
                        <small *ngIf="form.get('categoria')?.errors?.['required']">Categoria obrigatório.</small>
                        <small *ngIf="form.get('categoria')?.errors?.['minlength']">A Categoria deve ter pelo menos 3 caracteres.</small>
                    </div>
                </div>
                <!--tipo-->
                <div class="col-4 py-2">
                    <label for="tipo" class="label">Tipo:</label>
                    <input id="tipo" class="form-control" formControlName="tipo" />
                    <div *ngIf="form.get('tipo')?.invalid && form.get('tipo')?.touched">
                        <small *ngIf="form.get('tipo')?.errors?.['required']">Tipo obrigatório.</small>
                        <small *ngIf="form.get('tipo')?.errors?.['minlength']">O Tipo deve ter pelo menos 3 caracteres.</small>
                    </div>
                </div>
                <!--valor-->
                <div class="col-8 py-2">
                    <label for="valor" class="label">Valor:</label>
                    <input id="valor" class="form-control" formControlName="valor" />
                </div>
                <!--detalhe-->
                <div class="col-12 py-2">
                    <label for="detalhe" class="label">Detalhe:</label>
                    <textarea id="detalhe" class="form-control" formControlName="detalhe" cols="20" rows="11"></textarea>
                    <div *ngIf="form.get('detalhe')?.invalid && form.get('detalhe')?.touched">
                        <small *ngIf="form.get('detalhe')?.errors?.['required']">Detalhe obrigatório.</small>
                        <small *ngIf="form.get('detalhe')?.errors?.['minlength']">O Detalhe deve ter pelo menos 3 caracteres.</small>
                    </div>
                </div>
                <!--imagem-->
                <div class="col-12 py-2">
                    <label for="arquivo" class="label">Imagem:</label>
                    <input id="arquivo" 
                           class="form-control w-100" 
                           type="file" 
                           formControlName="arquivo2" 
                           (change)="handleFileInput($any($event))" 
                           [accept]="ext" />
                </div>
                <!-- tipo de extensao da imagem -->
                <div class="col-12 py-2">
                    <label for="extensao" class="label">Extensao:</label>
                    <input id="extensao"
                           class="form-control w-100"
                           type="text"
                           formControlName="extensao"
                           />
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{ this.arr[0].state === 'inclusao' ? 'Incluir' : 'Alterar' }}</button>
            <button type="button" class="btn btn-outline" mat-button mat-dialog-close>Fechar</button>
        </mat-dialog-actions>
    </form>
</div>
<div *ngIf="this.arr[0].state === 'view'">
    <h1 mat-dialog-title class="mat-dialog-title">Detalhe</h1>
    <div *ngFor="let i of arr">
        <div mat-dialog-content>
            <div class="row py-3">
                <div class="col-4 py-3">
                    <label for="titulo" class="label">ID</label>
                    <div [innerHTML]="i._id"></div>
                </div>
                <div class="col-4 py-3">
                    <label for="titulo" class="label">Titulo</label>
                    <div [innerHTML]="i.titulo"></div>
                </div>
                <div class="col-4 py-3">
                    <label for="descricao" class="label">Descrição</label>
                    <div [innerHTML]="i.descricao"></div>
                </div>
                <div class="col-4 py-3">
                    <label for="categoria" class="label">Categoria</label>
                    <div [innerHTML]="i.categoria"></div>
                </div>
                <div class="col-4 py-3">
                    <label for="tipo" class="label">Tipo</label>
                    <div [innerHTML]="i.tipo"></div>
                </div>
                <div class="col-4 py-3">
                    <label for="valor" class="label">Valor</label>
                    <div [innerHTML]="i.valor"></div>
                </div>
                <div class="col-12 py-3">
                    <label for="detalhe" class="label">Detalhe</label>
                    <div [innerHTML]="i.detalhe"></div>
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-actions>
        <button class="btn btn-outline" mat-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</div>
<div *ngIf="this.arr[0].state === 'viewImage'">
    <h1 mat-dialog-title class="mat-dialog-title">Detalhe Imagem</h1>
    <div mat-dialog-content class="_boxImage d-flex w-100 h-100 " alt="xx">

        {{ this.arr[0].extensao }}

        <div *ngIf="this.arr[0].extensao === 'image/png'">
            <img [src]="'data:image/png;base64,'+this.xpto" alt="Imagem">
        </div>

        <div *ngIf="this.arr[0].extensao === 'image/jpeg'">
            <img [src]="'data:image/jpeg;base64,'+this.xpto+'='" alt="Imagem">
        </div>

        <div *ngIf="this.arr[0].extensao == 'application/pdf'" class="d-flex w-100 h-100">

            <app-pdf-viewer [base64]="base64"></app-pdf-viewer>
            
            <!--<app-pdf-viewer [childInput]="parentValue"></app-pdf-viewer>-->

        </div>

        <!--
        <div >
            <div class="image-container">
                <img [src]="this.anexo" 
                     [style.max-width.%]="100" 
                     [style.max-height.%]="100" 
                     title="" 
                     alt="" />
            </div>
        </div>
-->
        <!--
        <div *ngFor="let i of img">
            <div *ngIf="base64Image.arquivo.indexOf(i.mimetype) != -1">
                <div class="image-container">
                    <img [src]="base64Image" 
                         [style.max-width.%]="100" 
                         [style.max-height.%]="100" 
                         title="" 
                         alt="" />

                </div>
            </div>
       </div>
       -->

    </div>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Fechar</button>
    </mat-dialog-actions>
</div>
