@font-face { font-family: 'poppins-bold'; src: url(./assets/fonts/Poppins/Poppins-Bold.ttf); }
@font-face { font-family: 'poppins-regular'; src: url(./assets/fonts/Poppins/Poppins-Regular.ttf); }
@font-face { font-family: 'poppins-thin'; src: url(./assets/fonts/Poppins/Poppins-Thin.ttf); }
@font-face { font-family: 'poppins-light'; src: url(./assets/fonts/Poppins/Poppins-Light.ttf) ;}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap.scss";

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    padding: 0;
    background-color: #fff; 
}
