.h {
    height: calc( 100vh - 10vh - 5vh );
}

.ico {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

button {
    padding: 0px !important;
    margin: 0 !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: 0 !important;
}